{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static "css/chatterbox.css" %}" />
    <title>Chatterbox</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Chatterbox - ESA Burruss</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="ajax-auth" class="navbar-right list-inline">
            <li class="logout-nav hidden">
              <h4 id="welcome-message" class="match-btn"></h4>
            </li>
            <li class="login-nav hidden">
              <form id="form-login" class="navbar-form">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="username" id="username" required class="form-control" />
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" required class="form-control" />
                </div>
              </form>
            </li>
            <li class="login-nav hidden">
              <button id="login-button" class="btn btn-success">Sign in</button>
            </li>
            <li class="logout-nav hidden">
              <button id="logout-button" class="btn btn-warning">Log Out</button>
            </li>
        </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script>
      var username;
      var pk;
      var csrftoken;
      var socket;
      $(document).ready(function() {
        {% if user.is_authenticated %}
          username = "{{ user.username }}";
          pk = "{{ user.pk }}";
          login();
        {% else %}
          logout();
        {% endif %}

        $('#login-button').on('click', function() {
          ajaxLogin();
        });

        $('#logout-button').on('click', function() {
          ajaxLogout();
        });

        csrftoken = getCookie('csrftoken');
      });

      function login() {
        $("#welcome-message").html("Welcome, " + username);
        $(".login-nav").addClass("hidden");
        $(".logout-nav").removeClass("hidden");
        socket = chatInit(username, pk);
      }

      function logout() {
        $(".logout-nav").addClass("hidden");
        $(".login-nav").removeClass("hidden");
        if(socket != null) {
          socket.disconnect();
        }
      }

      function ajaxLogin() {
        var dto = $("#form-login").serialize();
        dto.csrfmiddlewaretoken = getCookie('csrftoken');
        var ajaxOptions = {
          type: "post",
          url: '/api/login/',
          data: dto,
          success: function(x) {
            if(x.login == 1) {
              console.log(x);
              username = x.username;
              pk = x.pk;
              csrftoken = x.csrftoken;
              login();
            }
          }
        };
        $.ajax(ajaxOptions);
      }

      function ajaxLogout() {
        var ajaxOptions = {
          type: "get",
          url: '/api/logout/',
          data: {'csrfmiddlewaretoken': csrftoken},
          success: function(x) {
            console.log(x);
            if(x.login == 0) {
              csrftoken = x.csrftoken;
              $("input[name='csrfmiddlewaretoken']").val(csrftoken);
              logout();
            }
          }
        };
        $.ajax(ajaxOptions);
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
