{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div id="content" class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <ul id="messages"></ul>
        <form id="chatForm" action="">
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
      </div>
    </div>
  </div>

  <script type ="text/javascript" src="http://127.0.0.1:8001/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
  function chatInit(user, id) {

    var socket = io.connect('http://127.0.0.1:8001', {query: 'username=' +user+'&pk=' + id});
    $('#chatForm').submit(function(){
      var toSend = {msg: $('#m').val(), fromName: user, fromId: id};
      socket.emit('chat-message', toSend);
      $('#m').val('');
      return false;
    });
    socket.on('chat-message', function(msg){
      $('#messages').append($('<li>').text(msg.fromName + ': ' + msg.msg));
    });
    return socket;
  }
  </script>
{% endblock %}
